body {
	width: 1000px;
	margin: 0px auto;
	font-family: 'Arial Black', Gadget, sans-serif;
	font-size: .8em;
}

header {
	background-color: #6e88ae;
        height: 100px;
}
#topbar {
        background-color: #1d4e89;
        height: 34px;   
}
#social {
        padding-right: 0px;
        margin-left: 760px;
        padding-top: 5px;
        margin-top: 0px;
}
#social li {
        text-decoration: none;
        padding-right: 50px;
        margin-top: -10px;
        float: left;
}
#social li img {
        width: 28px;
        height: 28px;
}
#social ul li a:link {
        text-decoration: none;
}
header img {
	padding: 10px 20px 20px 20px;
	display: inline;
	float: left;
        height: 100px;
        width: 300px;
        position: absolute;
        z-index: 3;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Arial Black', Gadget, sans-serif;
	font-weight: bold;
}
header h1 {
	font-size: 1.5em;
	font-weight: bold;
	color: #ffffff;
	padding-left: 30px;
	padding-top: 40px;
}
h1 {
        color: #1d4e89;
}
h2 {
	padding-top: 10px;
	font-size: 1.2em;
}
header nav {
	height: 50px;
        margin-top: -75px;
        text-align: right;
        margin-right: 50px;
}
header nav ul {
	padding-top: 0px;
	float: right;
}
header nav li {
	display: inline; 
	text-decoration: none;
	font-family: 'Arial Black', Gadget, sans-serif;
	color: #ffffff;
	padding-left: 20px;
	font-weight: bold;
        font-size: 16px;
}
nav ul li a:link {
	color: #ffffff;
	text-decoration: none;
}
nav ul li a:visited {
	color: #ffffff;
}
nav ul li a:hover {
	color: #1d4e89;
}
nav ul li a:active {
	color:  #1d4e89;
}
#login_background {
        background-color: #1d4e89;
        padding: 10px;
        border-radius: 3px;
}
#main {
	background-color: #ffffff;
	padding: 0px;
	margin-top: 0px;
}
#main_image {
	width: 100%;
        margin-bottom: -3px;
}
#main_content {
        width: 420px;
        padding: 0px 20px 0px 20px;
        display: inline;
        float: right;
}
#home_image {
        width: 280px;
        padding: 0px 20px 0px 20px;
}
.sidebar {
        background-color:#6e88ae;
        width: 200px;
        padding: 10px 20px 23px 20px;
        display: inline;
        float: left;
        text-align: center;
        font-weight: bold;
        color: #ffffff;
}
footer {
	display: block;
	text-align: center;
	color: #cca756;
	padding-top: 21px;
	padding-bottom: 40px;
	background-color: #1d4e89;
	margin-top: 300px;
	margin-bottom: 20px;
	font-size: .9em;
}
footer nav ul {
	padding-top: 0px;
	float: right;
}
footer nav li {
	display: inline; 
	text-decoration: none;
	font-family: 'Arial Black', Gadget, sans-serif;
	color: #ffffff;
	padding-right: 30px;
	font-weight: bold;
}
footer ul li a:link {
	color: #ffffff;
	text-decoration: none;
}
footer ul li a:visited {
	color: #ffffff;
}
footer ul li a:hover {
	color: #1d4e89;
}
footer ul li a:active {
	color:  #ffffff;
}
#copyright {
	float: left;
	font-family: 'Arial Black', Gadget, sans-serif;
	color: #ffffff;
	padding-left: 20px;
	
}
