body {
	width: 1000px;
	margin: 0px auto;
	font-family: 'Arial Black', Gadget, sans-serif;
	font-size: .8em;
}

header {
	background-color: #6e88ae;
        height: 100px;
}
#topbar {
        background-color: #1d4e89;
        height: 34px;   
}
#google-search {
        width: 500px;
        display: inline;
        float: left;
}
#social {
        padding-right: 0px;
        margin-left: 760px;
        padding-top: 5px;
        margin-top: 0px;
}
#social li {
        text-decoration: none;
        padding-right: 50px;
        margin-top: -10px;
        float: left;
}
#social li img {
        width: 28px;
        height: 28px;
}
#social ul li a:link {
        text-decoration: none;
}
header img {
	padding: 10px 20px 20px 20px;
	display: inline;
	float: left;
        height: 100px;
        width: 300px;
        position: absolute;
        z-index: 3;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Arial Black', Gadget, sans-serif;
	font-weight: bold;
}
header h1 {
	font-size: 1.5em;
	font-weight: bold;
	color: #ffffff;
	padding-left: 30px;
	padding-top: 40px;
}
h1 {
        color: #1d4e89;
}
h2 {
	padding-top: 10px;
	font-size: 1.2em;
}
header nav {
	height: 50px;
        margin-top: -75px;
        text-align: right;
        margin-right: 50px;
}
header nav ul {
	padding-top: 0px;
	float: right;
}
header nav li {
	display: inline; 
	text-decoration: none;
	font-family: 'Arial Black', Gadget, sans-serif;
	color: #ffffff;
	padding-left: 20px;
	font-weight: bold;
        font-size: 16px;
}
nav ul li a:link {
	color: #ffffff;
	text-decoration: none;
}
nav ul li a:visited {
	color: #ffffff;
}
nav ul li a:hover {
	color: #1d4e89;
}
nav ul li a:active {
	color:  #1d4e89;
}
#login_background {
        background-color: #1d4e89;
        padding: 10px;
        border-radius: 3px;
}
#main {
	background-color: #ffffff;
	padding: 0px;
	margin-top: 0px;
}
#main_image {
	width: 100%;
        margin-bottom: -3px;
}
#main_content {
        width: 420px;
        padding: 0px 20px 0px 20px;
        display: inline;
        float: right;
}
#main_contact {
        width: 620px;
        padding: 50px 20px 0px 30px;
        display: inline;
        float: left;
}
#home_image {
        width: 280px;
        padding: 0px 20px 0px 20px;
}
.sidebar {
        background-color:#6e88ae;
        width: 200px;
        padding: 10px 20px 23px 20px;
        display: inline;
        float: left;
        text-align: center;
        font-weight: bold;
        color: #ffffff;
}
#sidebar-contact {
        background-color:#6e88ae;
        width: 260px;
        height: 517px;
        padding: 10px 20px 23px 40px;
        display: inline;
        float: right;
        text-align: left;
        font-weight: bold;
        color: #ffffff;
        margin-top: 80px;
}
.highlight {
        background-color: rgba(215, 208, 205, 0.8);
        padding: 10px 20px 10px 20px; 
        margin-top: 10px;
        margin-bottom: 10px;
        width: 520px;
}
.highlight-messagebox {
        background-color: rgba(215, 208, 205, 0.8);
        padding: 10px 20px 150px 20px;  
        margin-bottom: 10px;
}
.button {
	background-color: #1D4E89;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 1.2em;
	padding: 15px 15px;
	text-decoration: none;
        width: 280px;
        text-align: center;
        margin-top: 10px;
}
.button:hover {
	background-color:#6E88AE;
}
.button:active {
	position:relative;
	top:1px;
}
footer {
	display: block;
	text-align: center;
	color: #cca756;
	padding-top: 21px;
	padding-bottom: 40px;
	background-color: #1d4e89;
	margin-top: 300px;
	margin-bottom: 0px;
	font-size: .9em;
}
.footer-contact {
        display: block;
	text-align: center;
	color: #cca756;
	padding-top: 21px;
	padding-bottom: 40px;
	background-color: #1d4e89;
	margin-top: 630px;
	margin-bottom: 0px;
	font-size: .9em;
}
footer nav ul {
	padding-top: 0px;
	float: right;
}
footer nav li {
	display: inline; 
	text-decoration: none;
	font-family: 'Arial Black', Gadget, sans-serif;
	color: #ffffff;
	padding-right: 30px;
	font-weight: bold;
}
footer ul li a:link {
	color: #ffffff;
	text-decoration: none;
}
footer ul li a:visited {
	color: #ffffff;
}
footer ul li a:hover {
	color: #1d4e89;
}
footer ul li a:active {
	color:  #ffffff;
}
#copyright {
	float: left;
	font-family: 'Arial Black', Gadget, sans-serif;
	color: #ffffff;
	padding-left: 20px;
	
}
/* BREADCRUMB CSS */
#content { 
        padding: 0 55px; 
}
#breadcrumb, #breadcrumb2 { 
        float: left; 
        display: block; 
}
#breadcrumb ul, #breadcrumb2 ul { 
        list-style: none; 
}
.crumbs2 { 
        display: block; 
        margin-left: 140px; 
        padding: 0; 
}
.crumbs2 li { 
        display: inline; 
}
.crumbs2 li a, .crumbs2 li a:link, .crumbs2 li a:visited { 
        color: #666; 
        display: block; 
        float: left; 
        font-size: 12px; 
        padding: 7px 16px 7px 19px; 
        position: relative; 
        text-decoration: none; 
        border: 1px solid #d9d9d9; 
        border-right-width: 0px; 
}
.crumbs2 li a  { 
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.45, rgb(241,241,241)),color-stop(0.73, rgb(245,245,245)));
	background-image: -moz-linear-gradient( center bottom, rgb(241,241,241) 45%, rgb(245,245,245) 73%);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f1f1f1, endColorstr=#f5f5f5);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f1f1f1, endColorstr=#f5f5f5)";
}
.crumbs2 li.first a { 
        border-top-left-radius: 5px; 
        -moz-border-radius-topleft: 5px; 
        -webkit-border-top-left-radius: 5px; 
        border-right-width: 1px; 
        border-bottom-right-radius: 5px; 
        -moz-border-radius-bottomright: 5px; 
        -webkit-border-bottom-right-radius: 5px; 
}
.crumbs2 li.last a { 
        border-right-width: 1px; 
        border-bottom-right-radius: 5px; 
        -moz-border-radius-bottomright: 5px; 
        -webkit-border-bottom-right-radius: 5px; 
}
.crumbs2 li a:hover { 
	border-top-color: #c4c4c4;
	border-bottom-color: #c4c4c4;
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.45, rgb(241,241,241)),color-stop(0.73, rgb(248,248,248)));
	background-image: -moz-linear-gradient( center bottom, rgb(241,241,241) 45%, rgb(248,248,248) 73%);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f8f8f8, endColorstr=#f1f1f1);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f8f8f8, endColorstr=#f1f1f1)";
	color: #333;
	-moz-box-shadow: 0px 2px 2px #e8e8e8;
	-webkit-box-shadow: 0px 2px 2px #e8e8e8;
	box-shadow: 0px 2px 2px #e8e8e8;
}
.crumbs2 li a:active {
	border-top-color: #c4c4c4;
	border-bottom-color: #c4c4c4;
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.45, rgb(224,224,224)),color-stop(0.73, rgb(235,235,235)));
	background-image: -moz-linear-gradient( center bottom, rgb(224,224,224) 45%, rgb(235,235,235) 73%);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ebebeb, endColorstr=#e0e0e0);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ebebeb, endColorstr=#e0e0e0)";
	color: #333; 
	box-shadow: -1px 1px 1px 0px #dadada inset;
	-webkit-box-shadow: -1px 1px 1px 0px #dadada inset;
	-moz-box-shadow: -1px 1px 1px 0px #dadada inset;
}

/* Clearfix */
.clearfix:after { 
        content: "."; 
        display: block; 
        clear: both; 
        visibility: hidden; 
        line-height: 0; 
        height: 0; 
}
.clearfix { 
        display: inline-block; 
}
html[xmlns] .clearfix { 
        display: block; 
}
* html .clearfix { 
        height: 1%; 
}
.space { 
        display: block; 
        height: 45px; 
        clear: both;
}

/* GOOGLE SEARCH CSS */

  .gsc-control-cse {
    font-family: Arial, sans-serif;
    /*border-color: #FFFFFF;
    background-color: #FFFFFF;*/
  }
  .gsc-control-cse .gsc-table-result {
    font-family: Arial, sans-serif;
  }
  input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus {
    border-color: #D9D9D9;
  }
  input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
    border-color: #666666;
    background-color: #CECECE;
    background-image: none;
    filter: none;

  }
  .gsc-tabHeader.gsc-tabhInactive {
    border-color: #FF9900;
    background-color: #FFFFFF;
  }
  .gsc-tabHeader.gsc-tabhActive {
    border-color: #E9E9E9;
    background-color: #E9E9E9;
    border-bottom-color: #FF9900
  }
  .gsc-tabsArea {
    border-color: #FF9900;
  }
  .gsc-webResult.gsc-result, .gsc-results .gsc-imageResult {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
  }
  .gsc-webResult.gsc-result:hover, .gsc-imageResult:hover {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
  }
  .gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b  {
    color: #0000CC;
  }
  .gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b {
    color: #0000CC;
  }
  .gs-webResult.gs-result a.gs-title:hover, .gs-webResult.gs-result a.gs-title:hover b, .gs-imageResult a.gs-title:hover, .gs-imageResult a.gs-title:hover b {
    color: #0000CC;
  }
  .gs-webResult.gs-result a.gs-title:active, .gs-webResult.gs-result a.gs-title:active b, .gs-imageResult a.gs-title:active, .gs-imageResult a.gs-title:active b {
    color: #0000CC;
  }
  .gsc-cursor-page {
    color: #0000CC;
  }
  a.gsc-trailing-more-results:link {
    color: #0000CC;
  }
  .gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType {
    color: #000000;
  }
  .gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl {
    color: #008000;
  }
  .gs-webResult div.gs-visibleUrl-short {
    color: #008000;
  }
  .gs-webResult div.gs-visibleUrl-short  {
    display: none;
  }
  .gs-webResult div.gs-visibleUrl-long {
    display: block;
  }
  .gs-promotion div.gs-visibleUrl-short {
    display: none;
  }
  .gs-promotion div.gs-visibleUrl-long  {
    display: block;
  }
  .gsc-cursor-box {
    border-color: #FFFFFF;
  }
  .gsc-results .gsc-cursor-box .gsc-cursor-page {
    border-color: #E9E9E9;
    background-color: #FFFFFF;
    color: #0000CC;
  }
  .gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    border-color: #FF9900;
    background-color: #FFFFFF;
    color: #0000CC;
  }
  .gsc-webResult.gsc-result.gsc-promotion {
    border-color: #336699;
    background-color: #FFFFFF;
  }
  .gsc-completion-title {
    color: #0000CC;
  }
  .gsc-completion-snippet {
    color: #000000;
  }
  .gs-promotion a.gs-title:link,.gs-promotion a.gs-title:link *,.gs-promotion .gs-snippet a:link  {
    color: #0000CC;
  }
  .gs-promotion a.gs-title:visited,.gs-promotion a.gs-title:visited *,.gs-promotion .gs-snippet a:visited {
    color: #0000CC;
  }
  .gs-promotion a.gs-title:hover,.gs-promotion a.gs-title:hover *,.gs-promotion .gs-snippet a:hover  {
    color: #0000CC;
  }
  .gs-promotion a.gs-title:active,.gs-promotion a.gs-title:active *,.gs-promotion .gs-snippet a:active {
    color: #0000CC;
  }
  .gs-promotion .gs-snippet, .gs-promotion .gs-title .gs-promotion-title-right, .gs-promotion .gs-title .gs-promotion-title-right * {
    color: #000000;
  }
  .gs-promotion .gs-visibleUrl,.gs-promotion .gs-visibleUrl-short  {
    color: #008000;
  }